---
layout: base
---

{% include header.html type="post" %}

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

      {% if page.social-share %}
        {% include social-share.html %}
      {% endif %}
      
      {% if page.repo %}
      <p>
        {% if page.github.size>0 %}
          {% for badge in page.github %}
          {% if badge=='follow'%}
              <a class="github-button" href="https://github.com/yonicd" data-show-count="true" aria-label="Follow @yonicd on GitHub">Follow @yonicd</a>
          {% endif %}
          {% if badge=='watch'%}
              <a class="github-button" href="https://github.com/yonicd/{{ page.repo }}/subscription" data-show-count="true" aria-label="Watch {{ page.repo }} on GitHub">Watch</a>
          {% endif %}
          {% if badge=='star'%}
              <a class="github-button" href="https://github.com/{{ page.repo }}" data-show-count="true" aria-label="Star {{ page.repo }} on GitHub">Star</a> 
          {% endif %}
          {% if badge=='fork'%}
             <a class="github-button" href="https://github.com/{{ page.repo }}/fork" data-show-count="true" aria-label="Fork {{ page.repo }} on GitHub">Fork</a>
          {% endif %}
          {% if badge=='issue'%}
              <a class="github-button" href="https://github.com/{{ page.repo }}/issues" data-show-count="true" aria-label="Issue {{ page.repo }} on GitHub">Issue</a>
          {% endif %}
          {% if badge=='download'%}
              <a class="github-button" href="https://github.com/{{ page.repo }}/archive/master.zip" aria-label="Download {{ page.repo }} on GitHub">Download</a>
          {% endif %}
          {% endfor %}
        {% endif %}
        </p>
      {% endif %}
      
       {% if page.cran %}
       <p>
        {% if page.cran_badge.size>0 %}
          {% for badge in page.cran_badge %}
          {% if badge=='status'%}
      <a href="https://cran.r-project.org/package={{ page.cran }}"><img src="https://www.r-pkg.org/badges/version/{{ page.cran }}?color=blue" alt="CRAN_Status_Badge" /></a>
          {% endif %}
          {% if badge=='downloads'%}
      <img src="https://cranlogs.r-pkg.org/badges/grand-total/{{ page.cran }}" alt="downloads" />
          {% endif %}
          {% endfor %}
        {% endif %}
        </p>
      {% endif %}


      <article role="main" class="blog-post">
        {{ content }}
      </article>

      {% if page.tags.size > 0 %}
        <div class="blog-tags">
          Tags:
          {% if site.link-tags %}
          {% for tag in page.tags %}
            <a href="/tag/{{ tag }}">{{ tag }}</a>
          {% endfor %}
          {% else %}
            {{ page.tags | join: ", " }}
          {% endif %}
        </div>
      {% endif %}

      {% if page.social-share %}
        {% include social-share.html %}
      {% endif %}

      <ul class="pager blog-pager">
        {% if page.previous.url %}
        <li class="previous">
          <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
        </li>
        {% endif %}
        {% if page.next.url %}
        <li class="next">
          <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
        </li>
        {% endif %}
      </ul>

      {% if page.comments %}
        <div class="disqus-comments">
          {% include disqus.html %}
        </div>
      {% endif %}
    </div>
  </div>
</div>